.col-md-3.my-4
  .card.mb-4.text-center
    .card-header
      h5 Ürün Çeşitlerimiz
    .card-body
      .row
        .col
          ul.list-unstyled
            li
              a(href='/ahsap-sandalye')
                i.fas.fa-angle-right
                |  Ahşap Sandalyeler
            li
              a(href='/metal-sandalye')
                i.fas.fa-angle-right
                |  Metal Sandalyeler
            li
              a(href='/bar-sandalye')
                i.fas.fa-angle-right
                |  Bar Sandalyeleri
            li
              a(href='/plastik-sandalye')
                i.fas.fa-angle-right
                |  Plastik Sandalyeler
            li
              a(href='/klasik-sandalye')
                i.fas.fa-angle-right
                |  Klasik Sandalyeler
            li
              a(href='/restaurant-sandalye')
                i.fas.fa-angle-right
                |  Restaurant Sandalyeleri