footer
  .container-fluid
    .row.text-center
      .col-md-6
        hr.light
        h5 İletişim Bilgilerimiz
        hr.light
        p 444 79 79
        p sandelyeci@localhost.com
        p Avcılar/İstanbul
      .col-md-6
        a(href='/about')
          p.lead Hakkımızda
        a(href='/urun-gruplari')
          p.lead Ürün Kategorileri
        a(href='/contact')
          p.lead İletişim
        i.fab.fa-facebook-square.sosyal
        br
        i.fab.fa-instagram.sosyal
      .col-md-12
        hr.light