extends layouts/main-layout

block content

    include includes/carousel.pug

    .container-fluid.padding.my-4
        .row.mx-3
            .col-12.p-3(style='background-color:#E0931F; font-size: 30px; color:azure;')
                h1(style='font-size: 30px;') Hakkımızda
            hr
            .col-12.text-center.mt-4
                p.lead
                    | İstanbul Sandalye İmalatçılarından Nova Sandalye olarak 2014 yılında faaliyete geçmemize karşın,
                    | Mobilya sektöründe ise 20 senenin üzerinde eleman ve yönetici olarak çalışma tecrübemiz ile hizmet vermekteyiz.
                    | Çalışma ortamımızda sektörümüzün en büyük eksikliğini tespit ederek olmazı kabul etmeyişimiz en büyük düsturumuzdur,
            br
            .col-12.text-center.mt-4
                .about(style='border-left: 16px solid #e0931f;')
                    p.lead.mx-3
                    em
                        | Ürünlerimizin, tedarikçilerimizden başlayarak müşterilerimizin müşterilerine kadar uzanan hayat sürecinde,
                        | kalitesini ulusal ve uluslararası standartlar çerçevesinde korumak, geliştirmek,
                        | bu amaçla kurulan kalite ve yönetim sistemlerimizin etkinliğini sürekli iyileştirmek temel ilkemizdir.
                br
                p.lead
                    | Rahatlık ve konforu güvenle buluşturan ürünlerimizi insan ve çevre sağlığına zarar vermeden,
                    | çağın teknolojilerini kullanarak, eğitimli ve katılımcı personelimizle, her defasında ve ilk defasında,
                    | doğru ve zamanında üretmek, Müşterilerimize ürünlerini zamanında teslim etmek ve ihtiyaç duydukları anda kolay
                    | ulaşılabilir olmak,  Çalışanlarımıza rahat bir çalışma ortamı, planlı eğitimler ve sosyal imkanlar sunarak mutlu olmalarını
                    | sağlamak…