extends layouts/main-layout

block content

    .container-fluid.padding.my-4
        .row.welcome.text-center
            .col-12.p-3(style='background-color:#E0931F; font-size: 30px; color:azure;')
                h1(style='font-size: 30px;') Örnek Tasarımlarımız
    .container.my-4
        .row.pt-3
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/Berra-Krem.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | Berra Krem
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/Berra-bordo.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | Berra Bordo
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/Easy-Masa-Takımı-1.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | Easy Masa Takımı
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/KORNELLA-MASA-COMFORD-SANDALYE.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | Kornella Comford
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/M-528.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | Elif Bank Takımı
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/M-533.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | Iris Bank Takımı
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/berra-kirmizi-1.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | Berra Kırmızı
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/elif-bank-takimi-beyaz.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | M-512
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/elif-bank-takimi-hardal.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | M-770
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/iris-bank-takimi.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | Iris Takımı
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/monet-kose-krem.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | Monet Köşe Krem
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/monet-kose-takimi.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | Monet Köşe Takımı
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/puffy-bank-kirmizi.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | Puffy Bank Kırmızı
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/puffy-bank-sari-kahve.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | Puffy Sarı Kahve
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/puffy-kose.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | Puffy Köşe
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/safir-bank-cappucino.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | Safir Bank Cappucino
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/safir-mavi.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | Safir Mavi
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/safir-mürdüm.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | Safir Mürdüm
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/safir-siyah.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | Safir Siyah
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/sedef-bank-hardal.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | Sedef Bank Hardal
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/sedef-bank-bordo.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | Sedef Bank Bordo
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/senfoni-bank-bordo.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | Senfoni Bank Bordo
            .col-6.col-md-4.col-lg-3
                .card.shadow.text-center
                    img.card-img-top(src='images/galeri/senfoni-bank-hardal.jpg', alt='img')
                    .card-body
                        p.card-text.lead
                            | Senfoni Bank Hardal